# Entorno virtual
venv/

# Cachés de Python
__pycache__/
*.pyc

# Archivos temporales
*.log
*.tmp

# Snapshots RAW (no se suben por tamaño y porque no aportan valor)
data/raw/hourly_snapshots/

# Archivos de bloqueo de Power BI
*.pbix.lock

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de VSCode (opcional)
.vscode/
